/*Animation*/

@keyframes seconds{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

/*@-webkit-keyframes seconds{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(450deg);
    }
}*/

@keyframes minutes{
    0%{
        transform:rotate(-1deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

/*@-webkit-keyframes minutes{
    0%{
        transform:rotate(120deg);
    }
    100%{
        transform:rotate(480deg);
    }
}*/

@keyframes hours{
    0%{
        transform:rotate(1deg);
    }
    100%{
        transform:rotate(510deg);
    }
}

/*@-webkit-keyframes hours{
    0%{
        transform:rotate(150deg);
    }
    100%{
        transform:rotate(510deg);
    }
}*/

.clock{
    float: left;
    overflow: hidden;
    width: 600px;
    height: 600px;

    position: relative;
    top:0;
    background: transparent url('../img/clockface.jpg') no-repeat 0 0;
}

.arrow-second{
    z-index: 1;
    position: absolute;
    width: 30px;
    height: 600px;
    text-indent: -9999px;
    left: 50%;
    margin-left: -15px;
    top: 0;
    background: transparent url('../img/sechand.png') no-repeat 0 0;
   /* -webkit-animation: seconds 60s steps(60, end) infinite;*/
    animation: seconds 60s steps(60, end) infinite;
}

.arrow-minute{
    z-index: 3;
    position: absolute;
    width: 20px;
    height: 600px;
    text-indent: -9999px;
    left: 50%;
    margin-left: -10px;
    top: -7px;
    background: transparent url('../img/minhand.png') no-repeat 0 0;
   /* -webkit-animation: minutes 3600s steps(3600, end) infinite;*/
            animation: minutes 3600s steps(3600, end) infinite;
}

.arrow-hour{
    z-index: 3;
    position: absolute;
    width: 25px;
    height: 600px;
    text-indent: -9999px;
    left: 50%;
    margin-left: -15px;
    top: 0;
    background: transparent url('../img/hourhand.png') no-repeat 0 0;
    /*-webkit-animation: hours 216000s steps(216000, end) infinite;*/
            animation: hours 216000s steps(216000, end) infinite;
}

